@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

body {
    height:100%;
    width:100%;
    overflow: auto;
}

.main_container {
    height: 200%;
    width:80%;
    margin: 5% 10%;

    -moz-box-shadow: 0 0 20px grey;
    -webkit-box-shadow: 0 0 20px grey;
    box-shadow: 0 0 20px grey;

    @include display-flex();

    .content_container{
      border: solid black 1px;
      margin: 5%;
    //   width:100px;
      flex: 1 1 50%;
    }

    .info_container{
        border: solid black 1px;
        margin: 5%;
        flex:1 0 25%;
    }
}